{
  "presets": [
    [
      "es2015",
      {
        "loose": true,
        "modules": false
      }
    ],
    "react",
    "stage-1",
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    "transform-async-to-generator",
    "transform-object-rest-spread"
  ]
}